<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="https://www.streetsofsmashville.com" class="brand-logo">Streets of Smashville</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://www.fitness.streetsofsmashville.com">Fitness</a></li>
                <li><a href="https://www.code.streetsofsmashville.com">Code</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="https://www.fitness.streetsofsmashville.com">Fitness</a></li>
                <li><a href="https://www.code.streetsofsmashville.com">Code</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- Compiled and minified JavaScript --> 
        <script>
            $(".button-collapse").sideNav();
        </script>

<!--<div class="container-fluid">
<nav class="navbar navbar-default">
<div class="navbar-header">  
<a class="navbar-brand" href="/index.html">Streets of Smashville</a>
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button> 
</div>
<div class="collapse navbar-collapse" id="bs-nav">
<ul class="nav navbar-nav">
<li><a href="http://www.code.streetsofsmashville.com">Code.Streets</a></li>
<li><a href="http://www.fitness.streetsofsmashville.com">Fitness.Streets</a></li>
<li><a href="/about.html">About</a></li>
</ul>
</div>
</nav>
</div>-->