<head>
    <link rel="stylesheet" href="/_common/streetsofsmashville.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="navbar-header">  
            <a class="navbar-brand" href="/index.html">Streets of Smashville</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
        </div>
        <div class="collapse navbar-collapse" id="bs-nav">
            <ul class="nav navbar-nav">
                <li><a href="http://www.code.streetsofsmashville.com">Code.Streets</a></li>
                <li><a href="http://www.fitness.streetsofsmashville.com">Fitness.Streets</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </div>
    </nav>
</div>