<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="https://www.streetsofsmashville.com" class="brand-logo">Streets of Smashville</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://www.fitness.streetsofsmashville.com">Fitness</a></li>
                <li><a href="https://www.code.streetsofsmashville.com">Code</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="https://www.fitness.streetsofsmashville.com">Fitness</a></li>
                <li><a href="https://www.code.streetsofsmashville.com">Code</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </div>
    </nav>
</div>

<script>
    $(".button-collapse").sideNav();
</script>