/* Navbar */
.nav-wrapper{
    background-color: #0000ae;
}

/* Sidebar Background Color */
nav ul li {
    background-color: #0000ae;
}

/* Sidebar Text Color */
.side-nav a {
    color: white;
}

/* Hover Main Title */
nav .brand-logo:hover {
    background-color: black;
}

/* Hover Side Link Color */
nav ul li:hover {
   background-color: black;
}

/* Hover Right Link Color */
.nav-wrapper:hover {
    color:black;
}

/* Dropdown links */
.dropdown-content li>a {
    color: white;
}

.dropdown-content li>a:hover {
    background-color: black;
}